<nav class="navbar navbar-expand-lg navbar-light py-3 fixed-top">
    <a class="navbar-brand text-white" href="#">ALL IN ONE EVENT BOOKING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/booking" href="#">Book Event</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/showbooking" href="#">All event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login" (click)="logoutUser()" href="#">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="banner">
    <div class="bgcolor bg-primary">
    <h1 class="text-center">ALL IN ONE EVENT<p>ORGANIZER</p></h1>
  </div>
  </div>
  <div class="first_part pt-5">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/img/dar.jpg" class="h-75 mt-5 w-100 mt-3">
        </div>
        <div class="col-sm-6">
            <h1 class="text-center mt-5"><u>Darshan Rawal</u></h1>
            <h5 class="p-5">Darshan Raval Live in Concert in Sonaram Filed, Bharalumukh, Guwahati. <p><br>Darshan Raval 
                is now king of young hearts who has delivered musical hits such as Chhogada, Kamariya, Sanedo,
                 Ek Ladki ko Dekha, Kheech Meri Photo & more.</p><p>So come swing & dance with Darshan Raval at this 
                 power-packed musical event & get ready for the most memorable musical evening of your life..!!
                </p>
                <button type="submit" routerLink="/booking" class="btn btnn btn-primary text-white mt-4 px-5">Book Event</button> 
              </h5>
        </div>
            <div class="col-sm-6">
                <h1 class="text-center mt-5"><u>Tonny kakkar</u></h1>
                <h5 class="p-3">Tony Kakkar, is a well-known Indian Playback singer, lyricist and composer,
                     who is famous for his works in the Bollywood Film Industry.<p> He is the brother of the famous 
                     singer Neha Kakkar and Sonu Kakkar. He is also a very talented dancer.</p>
                    <p>He has worked as a music director in numerous films. He started his career in film 
                    industry with the movie, ‘Mr. Bhatti on Chutti’, released in the year 2012. He became famous, 
                    through his movie, ‘Prague’, released in the year 2013. Following this, he has composed many 
                    movies like, ‘Creature, Ek Paheli Leela, Cabaret, One Night Stand etc’. 
                    He has already won millions of hearts with his amazing music.</p>
                <button type="submit" routerLink="/booking" class="btn btnn btn-primary text-white mt-4 px-5">Book Event</button> 
                  </h5>
            </div>
            <div class="col-sm-6">
                <img src="assets/img/ton.jpeg" class="h-75 mt-5 w-100  ">
            </div>
      </div>
    </div>
  </div>
      <div class="second_part my-5"> 
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="assets/img/neha.jpg" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title text-center mt-2">Neha Kakkar</h2>
                  <p class="card-text">Born and brought up in Delhi, Neha kakkar was a child prodigy ,as she 
                    started singing at the age four. Her sister Sonu kakkar was also a playback singer. </p>
                  <a href="#" routerLink="/booking" class="btn btna px-5 btn-primary">Book Event</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="assets/img/fal.jpg" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title text-center">Falguni Pathak</h2>
                  <p class="card-text">Born and brought up in Delhi, Neha kakkar was a child prodigy ,as she 
                    started singing at the age four. Her sister Sonu kakkar was also a playback singer. </p>
                  <a href="#" routerLink="/booking" class="btn btna px-5 btn-primary">Book Event</a>
                </div>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="assets/img/alk.jpg" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title text-center mt-2">Alka Yagnic</h2>
                  <p class="card-text">Born and brought up in Delhi, Neha kakkar was a child prodigy ,as she 
                    started singing at the age four. Her sister Sonu kakkar was also a playback singer. </p>
                  <a href="#" routerLink="/booking" class="btn btna px-5 btn-primary text-center">Book Event</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="third_part">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <img src="assets/img/dhi.jpg" class="h-75 mt-5 w-100 mt-3">
              </div>
              <div class="col-sm-6">
                  <h1 class="text-center mt-5"><u>Dhirubhai Sarvaiya</u></h1>
                  <h5 class="p-5">Dhirubhai Sarvaiya Gujarati Comedy – Artist – BiographyDhirubhai Sarvaiya 
                    is best comedian of Guajarati jocks. Dhirubhai sarvaiya is very popular Guajarati comedian.
                    Dhirubhai Sarvaiya Born to a farmer family, Dhirubhai Sarvaiya is based in Khirasara Village
                    which is around 15 kilometers away from Rajkot city of Gujarat.Dhirubhai Sarvaiya is very famous
                    also very popular to all the people to watch and enjoy his comedy show. Gujarati comedies show
                    dhirubhai sarvaiya so many popular shows in.
                      <button type="submit" routerLink="/booking" class="btn btnn btn-primary text-white mt-4 px-5">Book Event</button> 
                    </h5>
              </div>                  
              </div>
            </div>
        </div>

        <!-- <table class="table">
          <thead>
             <tr>
                <th>UserLog_id</th>
                <th>Name</th>
                <th>MobileNO.</th>
                <th>Email</th>
                <th>Events</th>
                <th>Date</th>
                <th>Time</th>
                <th>Address</th>
             </tr>
          </thead>
          <tbody>
             <tr *ngFor="let item of booking">
                <td>{{ item.log_id }}</td>
                <td>{{ item.post_title }}</td>
                <td>{{ item.mo_no }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.post_content }}</td>
                <td>{{ item.eve_date }}</td>
                <td>{{ item.eve_time }}</td>
                <td>{{ item.address }}</td>
             </tr>
          </tbody>
       </table> -->
<app-booking></app-booking>
<app-showbooking></app-showbooking>
<router-outlet></router-outlet>
