<h1 class="text-center my-5">BOOK EVENTS</h1>
<div class="row m-0 p-0">
    <div class="frm px-5 py-2 mx-auto">
        <h2 class="margin l_class text-white text-center my-4">Event Booking Form</h2>
        <form [formGroup]='eventbooking' name="myForm" method="POST" #myForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-contral rounded-sm w-100 p-2 pl-1 border-0" [ngModel] = "obj.post_title" placeholder="Name"
                            formControlName="post_title" name="name"
                            [ngClass]="{ 'is-invalid': submitted && f.post_title.errors }">
                            <div *ngIf="submitted && f.post_title.errors" class="invalid-feedback">
                            <div *ngIf="f.post_title.errors.required">name is required</div>
                            <div *ngIf="f.post_title.errors.pattern">Please, Enter Valid Name.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-contral rounded-sm w-100 p-2 pl-1 border-0"
                        [ngModel] = "obj.to_ping" placeholder="Phone No." formControlName="to_ping" name="phone_no"
                            [ngClass]="{ 'is-invalid': submitted && f.to_ping.errors }">
                        <div *ngIf="submitted && f.to_ping.errors" class="invalid-feedback">
                            <div *ngIf="f.to_ping.errors.required">MobileNo is required</div>
                            <div *ngIf="f.to_ping.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-contral rounded-sm mt-2 w-100 pl-1 p-2 border-0"
                        placeholder="Email Id" [ngModel] = "obj.post_content" formControlName="post_content" name="username"
                        [ngClass]="{ 'is-invalid': submitted && f.post_content.errors }">
                    <div *ngIf="submitted && f.post_content.errors" class="invalid-feedback">
                        <div *ngIf="f.post_content.errors.required">Email is required</div>
                        <div *ngIf="f.post_content.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mt-3">
                        <input type="datetime" class="form-control" placeholder="YY-MM-DD HH:MM:AM/PM" [ngModel]="obj.post_date"
                            formControlName="post_date" [ngClass]="{ 'is-invalid': submitted && f.post_date.errors }" />
                        <div *ngIf="submitted && f.post_date.errors" class="invalid-feedback">
                            <div *ngIf="f.post_date.errors.required">First Date & Time is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="form-control mt-2" [ngModel] = "obj.post_excerpt" formControlName="post_excerpt"
                            [ngClass]="{ 'is-invalid': submitted && f.post_excerpt.errors }">
                            <option aria-placeholder="Event name">Select Event</option>
                            <option>Darshan Rawal (550 RS) For 1 Per.</option>
                            <option>Dhirubhai Sarwaiya (800 RS) For 1 Per.</option>
                            <option>Neha Kakkar (850 RS) For 1 Per.</option>
                            <option>Falguni Pathak (750 RS) For 1 Per.</option>
                            <option>Tony Kakkar (600 RS) For 1 Per.</option>
                        </select>
                        <div *ngIf="submitted && f.post_excerpt.errors" class="invalid-feedback">
                            <div *ngIf="f.post_excerpt.errors.required">event is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <textarea class="form-control border-sm mt-2 ml-3" rows="5" cols="68" placeholder="Enter Address"
                        formControlName="post_content_filtered" [ngModel] = "obj.post_content_filtered"
                        [ngClass]="{ 'is-invalid': submitted && f.post_content_filtered.errors }"></textarea>
                    <div *ngIf="submitted && f.post_content_filtered.errors" class="invalid-feedback">
                        <div *ngIf="f.post_content_filtered.errors.required">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="btnn"><button type="submit" [hidden] = "isShow"  class="btn py-2 w-50 mt-4 text-white mb-3 btn-warning  px-5"
                    (click)="eventbook(eventbooking.value)">Book Event</button>
                    <!-- [disabled]="!myForm.form.valid" -->
                    <button type="submit" *ngIf="isButtonVisible" (click)="isButtonVisible = true"  class="btn py-2 w-50 mt-4 text-white mb-3 btn-warning  px-5"
                    (click)="updatedatanew(eventbooking.value)">Update Event</button>
                </div>
        </form>
    </div>
</div>
<app-showbooking [MSG]="data"></app-showbooking>
<router-outlet></router-outlet>